{% extends 'main/base.html' %}
{% block content %}
{% load my_tags %}

<div class="text-center container">
    <form method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="card col-8">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Изменить</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
